*{
    box-sizing: border-box;
}
 
:root{
    --logo-color:#5282F0;
}

main{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

#first-section{
    max-width: 1440px;
    padding: 5% 0% 25% 11%;
    position: relative;
    overflow: hidden;
    background: #F4F6F9;
}
 
button{
    cursor: pointer;
}
  
header{
    width: 99px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}
 
#sports{
    font-family: 'Product Sans';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.02em;
    color: var(--logo-color);
    font-weight: 700;
}
 
#first-section h1{
    width: 45%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333;
    margin-bottom: 4%;
}
 
.super-fan-status{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    width: 35%;
    color: #4F4F4F;
}

.main-image{
    position: absolute;
    width: 50%;
    right: 0%;
    top: 0%;
}
 
#button{
    display: flex;
    flex-direction: row;
    gap: 36px;
}
button{
    margin-top: 50px;
    width: 156.05px;
    height: 47px;
    background: #000000;
    border-radius: 7.33503px;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 12.58px;
    justify-content: center;
    align-items: center;
}

.button img{
    width: 25.09px;
    height: 30.78px;
}

.button-p{
    width: 95px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.button-p-2{
    width: 93.78px;
    height: 24.97px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21.2716px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}
 
.button-p-3{
    width: 93.78px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 17.6041px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
}

.button-2-img{
    width: 25.09px;
    height: 30.78px;
}
 
/*=================================================== */

#second-section{ 
    max-width: 1440px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #F4F6F9;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 10px;
    background: #FFFFFF;
}

#second-section-div-1{
    position: relative;
}

.arsenal-chelsea{
    position: absolute;
    width: 50%;
    left: 12%;
    top: 17%;
    z-index: 2;
}

.mach-2{
    width: 50%;
    position: absolute;
    left: 35%;
    top: 45%;
}

.section-2-main-photo{
    position: absolute;
    width: 100%;
    height: 592px;
 
    background-image:linear-gradient(270deg, #FFFFFF 5.16%, 
    rgba(255, 255, 255, 0) 67.14%, 
    rgba(255, 255, 255, 0.5)),
    url(../img/section-2-main-photo.png);
}

#second-section-div-2{
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding-right: 20%;
}

#second-section-div-2 h3{
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    margin-top: 20%;
}

#second-section-div-2 h2{
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
}

#second-section-div-2 article{
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;
    padding-right: 8%;
}
 
#second-section-div-2 a{
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;
    text-decoration: none;
}