
.main-theme{
    position: absolute;
    width: 390px;
    height: 644px;
    background: url(../img/main-theme.jpg), linear-gradient(167.95deg, #2E335A 0%, #1C1B33 100%);
    box-shadow: -40px 60px 150px rgba(11, 10, 10, 0.7);
    border-radius: 46px;
    z-index: -1;
}

.setbar{ 
    position: absolute;
    height: 47px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.time-format{
    width: 54px;
    height: 20px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.408px;
    color: #FFFFFF;
    transform: rotate(0.27deg);
}

.parameters{
    width: 77.4px;
    height: 13px;
    transform: rotate(0.27deg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parameters-icon{
    width: 18px;
    height: 12px;
}

.weather-main{
    position: absolute;
    width: 390px;
    height: 183px;
    left: 3.51px;
    top: 103px;
    transform: rotate(0.27deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.h1-main-page{
    width: 129px;
    height: 41px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.374px;
    color: #FFFFFF;
}
 
.temp-text{
    width: 127px;
    height: 70px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 200;
    font-size: 96px;
    line-height: 70px;
    text-align: center;
    letter-spacing: 0.374px;
    color: #FFFFFF;
    margin-top: 11.4px;
    margin-bottom: 11.43px;
}

.h2-main-page{
    width: 115px;
    height: 48px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.rectangle-1{
    position: absolute;
    width: 390px;
    height: 500px;
    top: 344px;
    background: linear-gradient(180deg, rgba(58, 63, 84, 0) 0%, #3A3F54 100%);
}

.rectangle-2{
    position: absolute;
    width: 390px;
    height: 325px;
    bottom: 0px;
    background: linear-gradient(135.73deg, rgba(46, 51, 90, 0.2) 11.01%, rgba(28, 27, 51, 0.2) 95.06%);
    box-shadow: inset 0px 1px 0px #FFFFFF;
    backdrop-filter: blur(25px);
    border-radius: 44px 44px 0px 0px;
    overflow: hidden;
}

.header-part{
    position: absolute;
    width: 391px;
    height: 49px;
    left: 1.54px;
    top: 0px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.forecast-1{
    position: absolute;
    width: 122px;
    height: 41px;
    left: 12.15px;
    top: 14.94px;
    text-align: center;
}

.forecast-2{
    position: absolute;
    width: 137px;
    height: 41px;
    left: 235.14px;
    top: 13.89px;
    text-align: center;
}
 
.hourly-forecast{
    width: 132px;
    height: 41px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 41px;
    letter-spacing: 0.374px;
    color: rgba(191, 192, 201, 0.53);
}

.weekly-forecast{
    width: 137px;
    height: 41px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 41px;
    letter-spacing: 0.364px;
    color: rgba(191, 192, 201, 0.53);
}

.underline{ 
    position: absolute;
    width: 390px;
    height: 0px;
    left: 1px;
    top: 50px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    transform: rotate(0.27deg);
}

.separator{
    position: absolute;
    width: 390px;
    height: 0px;
    left: 1px;
    top: 50px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.indicator{
    position: absolute;
    width: 49px;
    height: 5px;
    left: 171.19px;
    top: 8.81px;
    background: rgba(12, 11, 11, 0.3);
    border-radius: 10px;
}

.ellipse-2{
    position: absolute;
    width: 286px;
    height: 32px;
    border-radius: 50%;
    left: 63.69px;
    top: -31.71px;
    background: #090A0E;
    filter: blur(30px);
}

.ellipse-1{
    position: absolute;
    width: 286px;
    height: 17px;
    border-radius: 50%;
    left: 53.61px;
    top: -14.75px;  
    background: #E0D9FF;
    filter: blur(5px);
}

.weather-1-main-screen{
    box-sizing: border-box;
    width: 60px;
    height: 146px;
    background: rgba(19, 21, 28, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15.04px;
    padding-bottom: 5.08px;
}

.weather-1-text{
    width: 43px;
    height: 41px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.374px;
    color: #FFFFFF;
}
 
.weather-1-text-2{
    width: 30px;
    height: 41px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.374px;
    color: #23BCB3;
    margin-top: 15.82px;
}

.weather-1-text-3{
    position: absolute;
    width: 25px;
    height: 41px;
    top: 100.08px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.374px;
    color: #FFFFFF;
}

.rain-moon{
    position: absolute;
    top: 52.07px;
    bottom: 62.07px;
    background: url(../img/svg-icons/rainmain.svg);
}

.Hours-main-page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    position: absolute;
    width: 420px;
    height: 146px;
    left: 21.22px;
    top: 68.09px;
}

.weather-1-main-screen-2{
    box-sizing: border-box;
    width: 60px;
    height: 146px;
    background: #13151C;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25), inset 1px 1px 0px rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15.04px;
    padding-bottom: 5.08px;
}


.rain-moon-1{
    position: absolute;
 
    top: 59.07px;
 
    background: url(../img/svg-icons/rainmain.svg);
 
}
 
.footer-main-page{
    position: absolute;
    width: 390px;
    height: 88px;
    left: 0.42px;
    top: 237px;
}

.front{
    position: absolute;
    width: 258px;
    height: 100.26px;
    left: 66.44px;
    top: -5.69px;
    transform: rotate(0.27deg);
}

.button{
    position: absolute;
    width: 64px;
    height: 64px;
    left: 97.41px;
    top: 13.46px;
    border-radius: 50%;
    transform: rotate(0.27deg);
}

.ellipse-1-1{ 
    position: absolute;
    width: 58px;
    height: 58px;
    left: 3.29px;
    top: 3.01px;
    border-radius: 50%;
    background: linear-gradient(138.22deg, rgba(255, 255, 255, 0) 16.11%, #BBBFC7 85.86%);
    filter: blur(1px);
    transform: rotate(0.27deg);
}

.ellipse-3-1{ 
    position: absolute;
    width: 58px;
    height: 58px;
    left: 3.29px;
    top: 3.01px;
    border-radius: 50%;
    background: linear-gradient(138.22deg, #F5F5F9 16.11%, rgba(218, 223, 231, 0.7) 85.86%);
    transform: rotate(0.27deg);

}

.ellipse-2-1{ 
    box-sizing: border-box;
    position: absolute;
    width: 58px;
    height: 58px;
    left: 3.29px;
    top: 3.01px;
    border-radius: 50%;
    background: linear-gradient(138.22deg, #F5F5F9 16.11%, rgba(218, 223, 231, 0.7) 85.86%);
    box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.5), 10px 10px 20px rgba(13, 20, 49, 0.5), inset 1px 1px 0.5px #FFFFFF;
    transform: rotate(0.27deg);
}

.ellipse-4-1{ 
    position: absolute;
    width: 64px;
    height: 64px;
    left: 0.3px;
    top: 0px;
    border-radius: 50%;
    background: linear-gradient(138.22deg, rgba(0, 0, 0, 0.4) 16.11%, rgba(255, 255, 255, 0.28) 85.86%);
    filter: blur(0.5px);
    transform: rotate(0.27deg);
}

.plus{
    position: absolute;
    width: 44px;
    height: 44px;
    left: calc(50% - 44px/2 + 0.21px);
    top: calc(50% - 44px/2); 
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    z-index: 1;
    transform: rotate(0.27deg);
}
 
.frame-6{
    position: absolute;
    width: 334px;
    height: 44px;
    left: 28.31px;
    top: 22.13px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    z-index: -1;
}

.symbol{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.0231818px;
    color: #FFFFFF;  
}

.symbol-1{
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.0231818px;
    color: #FFFFFF;
}

.rectangle-3{
    position: absolute;
    width: 390px;
    height: 88px;
    left: 0.42px;
    top: 0px;
    z-index: -2;
}

.ellipse-last{
    z-index: -3;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 272.23px;
    top: 66.28px;
    background: conic-gradient(from 180deg at 50% 50%, #090A0E 0deg, #090A0E 95.62deg, rgba(9, 10, 14, 0) 223.13deg, #090A0E 337.5deg, #090A0E 360deg);
    filter: blur(70px);
    transform: rotate(0.27deg);
}

.button{
    cursor: pointer;
}