
#first-section{
    min-width: 100%;
    width: 100%;
    background-color: rgb(38, 32, 46);
    min-width: 1000px;
}
 
h1{
    color: rgb(255, 226, 189);
    margin: 10px;
}

#first-section img{
    width: 150px;
    height: 25px;
}

/*================================*/
.first-sword{
    width: auto;
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
}

.sword-p{
    width: 150px;
    height: 25px;
    z-index: 5;
}

.sword{
    margin-top: 10px;
    width: 100px;
    height: 5px;
    border-radius: 0px 20px 20px  0px ;
    margin-left: -22px;
    transition: transform 2s ;  
    z-index: 0;
}
 
.sword-p:hover  + .sword {
    transform: scaleX(5);    
    z-index: 0;
    transform-origin: center left;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 0, 0) 0px 7px 29px 0px,inset 1px 0px 2px 2px rgb(255, 0, 0);
}

/*=====================*/
.swordf{
    width: 1000px;
    height: 1000px;
    position: relative;
}

/*=====================*/
.second-sword{
    width: auto;
    position: absolute;
    top: 400px;
    left: 100px;
    display: flex;
    flex-direction: row;
    animation: second-sword-rotate 5s  infinite;
}

.sword-p-r{
    width: 150px;
    height: 25px;
    z-index: 5;
}

.sword-r{
    margin-top: 10px;
    width: 400px;
    height: 5px;
    border-radius: 0px 20px 20px 0px ;
    margin-left: -22px;
    transition: transform 2s ;  
    z-index: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 158, 8) 0px 7px 29px 0px,inset 1px 0px 2px 2px rgb(0, 158, 8);
}
 
@keyframes second-sword-rotate {
    0%{
        transform-origin: left top;
        rotate: -20deg;
    }
    50%{
        transform-origin: left top;
        rotate:  -10deg;
    }
    100%{
        transform-origin: left top;
        rotate: -20deg;
    }
}

/*=====================*/

.third-sword{
    width: auto;
    position: absolute;
    top: 400px;
    left: 1000px;
    display: flex;
    flex-direction: row;
    transform: rotateY(180deg);
    animation: third-sword-rotate 5s  infinite;
}

.sword-p-b{
    width: 150px;
    height: 25px;
    z-index: 6;
}
 
.sword-b{
    margin-top: 10px;
    width: 400px;
    height: 5px;
    border-radius: 0px 20px 20px 0px;
    margin-right: -22px;
    z-index: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0, 4, 255) 0px 7px 29px 0px, inset 1px 0px 2px 2px rgb(47, 0, 255);
}
 
@keyframes third-sword-rotate {
    0%{
        rotate: -30deg;
        transform-origin: left;
    }
    50%{
        rotate: 10deg;
        transform-origin: left;
    }
    100%{
        rotate: -30deg;
        transform-origin: left;
    }
}

/*=====================*/
/**/
/*=====================*/

#second-section{
    min-width: 100%;
    width: 100%;
    background-color: rgb(31, 28, 30);
    min-width: 1000px;
    height: 300px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.ball{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(0, 221, 111);
} 

.first{
    animation: first-ball 6s 0s infinite;
    background-color: rgb(0, 110, 114);
}

@keyframes first-ball {
    0%{
        rotate: 0deg;
        transform-origin: top;
    }
    15%{
        rotate: 90deg;
        transform-origin: top;
    } 
    30%{
        rotate: 0deg;
        transform-origin: top;
    }
}

.seventh{
    animation: seventh-ball 6s 3s infinite;
    background-color: rgb(0, 221, 111);
}

@keyframes seventh-ball {
    0%{
        rotate: 0deg;
        transform-origin: top;
    }
    15%{
        rotate: -90deg;
        transform-origin: top;
    } 
    30%{
        rotate: 0deg;
        transform-origin: top;
    }
}
 
.second{
    animation: second-ball 6s 1s infinite;
}
 
@keyframes second-ball {
   35%{
        background-color: rgb(0, 110, 114);
    }
    80%{
        background-color: rgb(0, 110, 114);
    }
    95%{
        background-color: rgb(0, 221, 111);
    }
}
 
.third{
    animation: third-ball 6s 1.5s infinite;
}
 
@keyframes third-ball {
    20%{
        background-color: rgb(0, 110, 114);
    }
    65%{
        background-color: rgb(0, 110, 114);
    }
    85%{
        background-color: rgb(0, 221, 111);
    }
}

.fourth{
    animation: fourth-ball 6s 2s infinite;
}
 
@keyframes fourth-ball {
    20%{
        background-color: rgb(0, 110, 114);
    }
    55%{
        background-color: rgb(0, 110, 114);
    }
    60%{
        background-color: rgb(0, 221, 111);
    }
}
 
.fifth{
    animation: fifth-ball 6s 2.5s infinite;
}
 
@keyframes fifth-ball {
    20%{
        background-color: rgb(0, 110, 114);
    }
    40%{
        background-color: rgb(0, 110, 114);
    }
    50%{
        background-color: rgb(0, 221, 111);
    }
}
 
.sixth{
    animation: sixth-ball 6s 3s infinite;
}
 
@keyframes sixth-ball {
    20%{
        background-color: rgb(0, 110, 114);
    }
    25%{
        background-color: rgb(0, 110, 114);
    }
    50%{
        background-color: rgb(0, 221, 111);
    }
}