.small--tabs__row-2--tab-2{
    @include def_btn( 6px 12px, #FFFFFF, 0px, none);
    box-shadow: inset 0px 1px 0px #E0E0E0, inset 0px -1px 0px #E0E0E0;
    .small--tabs__img-2{
        @include def_small_btn_svg(24px, 24px);
        stroke: #2C2C2C;
        fill: #2C2C2C;
    }
}
 