.small--item__eleventh-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include def_text('Inter', normal, 500, 15px, 18px, #2C2C2C);
    @include def_btn(8px 12px, #FFFFFF, 5px, 1px solid #E0E0E0);
    .small--btn-11__img{ 
        @include def_small_btn_svg(20px, 20px);
    }
}