.small--item__twelfth-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include def_text('Inter', normal, 500, 15px, 18px, #18A0FB);
    @include def_btn(8px 12px, #FFFFFF, 5px, 1px solid #18A0FB);
    .small--btn-12__img{ 
        @include def_small_btn_svg(20px, 20px);
    }
}