@import "../sass-styles/def-file";

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// body{
//     background-color: #0A1E27;
// }
.header{
    position: relative;
    overflow: hidden;
    padding: 0%;
    @media (max-width:$md){ 
        background-color: #0A1E27;
    }
    .header-img{
        @include def_imgs(110%, 105%);
        z-index: -1;
        position: absolute;
        top: -2%;
        @media (max-width:$md){
          display: none;
        }
    }
    .header--title{ 
        @include def_text('Major Mono Display', normal, 400, 32px, 34px, #FFFFFF);
        margin: 3% 10%;
        @media (max-width:$md){
            text-align: center;
        }
    }
    .header--text{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 10%;
        z-index: 1;
        margin-bottom: 30%;
        @media (max-width:$md){
            width: 90%;
            margin: 10% auto;
            margin-bottom: 20%;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .header--text__title{
            @include def_text('Playfair Display', normal, 400, 100px, 100px, #FFFFFF);
            @media (max-width:$md){
                font-weight:300;
            }
        }
        .header--text__subtitle{
            @include def_text('Poppins', normal, 700, 20px, 22px, #D3BA74);
            letter-spacing: 0.24em;
            margin-bottom: 8%;
        }
        .header--text__paragraph{
            @include def_text('Poppins', normal, 300, 16px, 24px, rgba(255, 255, 255, 0.8));
            margin-bottom: 8%;
        }
        .header--text__btn{
            @include def_btn(10px 16px, #FFFFFF, 4px, 1px solid #FFFFFF);
            @include def_text('Poppins', normal, 400, 12px, 18px, #FFFFFF);
            filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
            width: 20%;
            background: none;
            @media (max-width:$md){
                width: 50%;
            }
        }
    }

    .header-gradient{ 
        background: linear-gradient(0deg, #0A1E27 5%, rgba(10, 30, 39, 0.4) 70.68%, rgba(10, 30, 39, 0) 100.15%);
        height: 60%;
        width: 100%;
        position: absolute;
        bottom: 0%;
    }
}

.explore-section{
    background-color: #0A1E27;
    overflow: hidden;
    padding: 2%;
    position: relative;
    .explore-section-bc{
        position: absolute;
        top: 3%;
        left: 2%;
        .explore-section-bc__item{
            @include def_text('Poppins', normal, 600, 180px, 24px, rgba(255, 255, 255, 0.13));
            line-height: 150%;
        }
        @media (max-width: $md) {
            display: none;
        }
    }
    .explore-section--main-part{
        display: grid;
        grid-template-columns: 55% 45%;
        gap: 0%;
        margin-bottom: 5%;
        .explore-section--text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 20%;
            .explore-section--text__get-started{
                @include def_text('Poppins', normal, 700, 14px, 22px, #D3BA74);
                letter-spacing: 0.24em;
                position: relative;
                display: inline-block;
                width: 100%;
                margin-left: 10%;
                &:before {
                    content: "";
                    width: 51px;
                    height: 2px;
                    position: absolute;
                    left: -55px;
                    top: 10px;
                    background: #D3BA74;
                }
                @media (max-width: $md) {
                    margin: 0% auto;
                    text-align: center;
                    &:before {
                        width: 0px;
                    }
                }
            }
            .explore-section--text__title{
                @include def_text('Playfair Display', normal, 400, 70px, 70px, #FFFFFF);
            }
            .explore-section--text__paragraph{
                @include def_text('Playfair Display', normal, 300, 16px, 24px, rgba(255, 255, 255, 0.8));
            }
            @media (max-width: $md) {
                margin: 0% auto;
                text-align: center;
            }
        }
        .explore-section--text__img{
            display: flex;
            justify-content: right;
           .section--text__img{@include def_imgs(90%, auto);}
        }
        @media (max-width: $md) {
            grid-template-columns: 100%;
            .explore-section--text__img{
              display: none;
            }
        }
    }
    .explore-section--galery{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
         
        flex-wrap: wrap;
        margin: 1% auto;
        @media (max-width: $xl) {
            justify-content:center;
            gap: 10%;
        }
        .explore-section--galery__item{
            margin-bottom: 1%;
            @media (max-width: $md) {
                @include def_imgs(30%, 30%);
            }
        }
 
    }
} 

.miss-section{
    position: relative;
    display: grid;
    background-color: #0A1E27;
    overflow: hidden;
    padding: 2%;
    grid-template-columns: 40% 60%;
    gap: 10%;
    .miss-section--text__img{
        display: flex;
        justify-content: left;
        .section--text__img{@include def_imgs(100%, auto);}
        @media (max-width: $md) {
            display: none;
        }
    }

    .miss-section-bc{
        position: absolute;
        top: 0%;
        left: 41%;
        .miss-section-bc__item{
            @include def_text('Poppins', normal, 600, 180px, 24px, rgba(255, 255, 255, 0.13));
            line-height: 150%;
        }
        @media (max-width: $md) {
            display: none;
        }
    }
    
    .miss-section--text{
        display: flex;
        flex-direction: column;
        margin: 12% 20% 0% 9.5%;
        .miss-section--text__get-started{
            @include def_text('Poppins', normal, 700, 14px, 22px, #D3BA74);
            letter-spacing: 0.24em;
            position: relative;
            display: inline-block;
            width: 100%;
            margin-left: 11%;
            &:before {
                content: "";
                width: 51px;
                height: 2px;
                position: absolute;
                left: -55px;
                top: 10px;
                background: #D3BA74;
            }
            @media (max-width: $md) {
                margin: 0% auto;
                text-align: center;
                &:before {
                    width: 0px;
                }
            }
        }
        .miss-section--text__title{
            @include def_text('Playfair Display', normal, 400, 70px, 70px, #FFFFFF);
            margin-bottom: 3%;
        }
        .miss-section--text__paragraph{
            width: 85%;
            @include def_text('Playfair Display', normal, 300, 16px, 24px, rgba(255, 255, 255, 0.8));
            @media (max-width: $md) {
                width: 100%;
            }
        }
        @media (max-width: $md) {
            margin: 0% auto;
            text-align: center;
        }
    }
    @media (max-width: $md){
        padding: 0% 2%;
        grid-template-columns: 100%;
        margin: 0% auto;
 
    }
}
