body {
  background-color: #0A1E27;
}

.header {
  position: relative;
  overflow: hidden;
  padding: 0%;
}
@media (max-width: 768px) {
  .header {
    background-color: #0A1E27;
  }
}
.header .header-img {
  width: 110%;
  height: 105%;
  position: absolute;
  top: -2%;
  z-index: -1;
}
@media (max-width: 768px) {
  .header .header-img {
    display: none;
  }
}
.header .header--title {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  color: #FFFFFF;
  margin: 3% 10%;
}
@media (max-width: 768px) {
  .header .header--title {
    text-align: center;
  }
}
.header .header--text {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10%;
  z-index: 1;
  margin-bottom: 30%;
}
@media (max-width: 768px) {
  .header .header--text {
    width: 90%;
    margin: 10% auto;
    margin-bottom: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.header .header--text .header--text__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .header .header--text .header--text__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 50px;
  }
}
.header .header--text .header--text__subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #D3BA74;
  letter-spacing: 0.24em;
  margin-bottom: 8%;
}
.header .header--text .header--text__paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 8%;
}
.header .header--text .header--text__btn {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 10px 16px;
  border: 1px solid #FFFFFF;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  z-index: 2;
  width: 20%;
  background: none;
}
.header .header--text .header--text__btn:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .header .header--text .header--text__btn {
    width: 50%;
  }
}
.header .header-gradient {
  background: linear-gradient(0deg, #0A1E27 5%, rgba(10, 30, 39, 0.4) 70.68%, rgba(10, 30, 39, 0) 100.15%);
  height: 60%;
  width: 100%;
  position: absolute;
  bottom: 0%;
}

.explore-section {
  background-color: #0A1E27;
  overflow: hidden;
  padding: 2%;
  position: relative;
}
.explore-section .explore-section-bc {
  position: absolute;
  top: 3%;
  left: 2%;
}
.explore-section .explore-section-bc .explore-section-bc__item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 180px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.13);
  line-height: 150%;
}
@media (max-width: 768px) {
  .explore-section .explore-section-bc {
    display: none;
  }
}
.explore-section .explore-section--main-part {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 0%;
  margin-bottom: 5%;
}
.explore-section .explore-section--main-part .explore-section--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
}
.explore-section .explore-section--main-part .explore-section--text .explore-section--text__get-started {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #D3BA74;
  letter-spacing: 0.24em;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: 11%;
}
.explore-section .explore-section--main-part .explore-section--text .explore-section--text__get-started:before {
  content: "";
  width: 51px;
  height: 2px;
  position: absolute;
  left: -55px;
  top: 10px;
  background: #D3BA74;
}
@media (max-width: 768px) {
  .explore-section .explore-section--main-part .explore-section--text .explore-section--text__get-started {
    margin: 0% auto;
    text-align: center;
  }
  .explore-section .explore-section--main-part .explore-section--text .explore-section--text__get-started:before {
    width: 0px;
  }
}
.explore-section .explore-section--main-part .explore-section--text .explore-section--text__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  color: #FFFFFF;
}
.explore-section .explore-section--main-part .explore-section--text .explore-section--text__paragraph {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  .explore-section .explore-section--main-part .explore-section--text {
    margin: 0% auto;
    text-align: center;
  }
}
.explore-section .explore-section--main-part .explore-section--text__img {
  display: flex;
  justify-content: right;
}
.explore-section .explore-section--main-part .explore-section--text__img .section--text__img {
  width: 90%;
  height: auto;
}
@media (max-width: 768px) {
  .explore-section .explore-section--main-part {
    grid-template-columns: 100%;
  }
  .explore-section .explore-section--main-part .explore-section--text__img {
    display: none;
  }
}
.explore-section .explore-section--galery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1% auto;
}
@media (max-width: 1200px) {
  .explore-section .explore-section--galery {
    justify-content: center;
    gap: 10%;
  }
}
.explore-section .explore-section--galery .explore-section--galery__item {
  margin-bottom: 1%;
}
@media (max-width: 768px) {
  .explore-section .explore-section--galery .explore-section--galery__item {
    width: 30%;
    height: 30%;
  }
}

.miss-section {
  position: relative;
  display: grid;
  background-color: #0A1E27;
  overflow: hidden;
  padding: 2%;
  grid-template-columns: 40% 60%;
  gap: 10%;
}
.miss-section .miss-section--text__img {
  display: flex;
  justify-content: left;
}
.miss-section .miss-section--text__img .section--text__img {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .miss-section .miss-section--text__img {
    display: none;
  }
}
.miss-section .miss-section-bc {
  position: absolute;
  top: 0%;
  left: 41%;
}
.miss-section .miss-section-bc .miss-section-bc__item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 180px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.13);
  line-height: 150%;
}
@media (max-width: 768px) {
  .miss-section .miss-section-bc {
    display: none;
  }
}
.miss-section .miss-section--text {
  display: flex;
  flex-direction: column;
  margin: 12% 20% 0% 9.5%;
}
.miss-section .miss-section--text .miss-section--text__get-started {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #D3BA74;
  letter-spacing: 0.24em;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: 10%;
}
.miss-section .miss-section--text .miss-section--text__get-started:before {
  content: "";
  width: 51px;
  height: 2px;
  position: absolute;
  left: -55px;
  top: 10px;
  background: #D3BA74;
}
@media (max-width: 768px) {
  .miss-section .miss-section--text .miss-section--text__get-started {
    margin: 0% auto;
    text-align: center;
  }
  .miss-section .miss-section--text .miss-section--text__get-started:before {
    width: 0px;
  }
}
.miss-section .miss-section--text .miss-section--text__title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  color: #FFFFFF;
  margin-bottom: 3%;
}
.miss-section .miss-section--text .miss-section--text__paragraph {
  width: 85%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  .miss-section .miss-section--text .miss-section--text__paragraph {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .miss-section .miss-section--text {
    margin: 0% auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .miss-section {
    padding: 0% 2%;
    grid-template-columns: 100%;
    margin: 0% auto;
  }
}

.open-section {
  background-color: #0A1E27;
  overflow: hidden;
  padding: 2%;
  position: relative;
}
.open-section .open-section-bc {
  position: absolute;
  top: 3%;
  left: 2%;
}
.open-section .open-section-bc .open-section-bc__item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 180px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.13);
  line-height: 150%;
}
@media (max-width: 768px) {
  .open-section .open-section-bc {
    display: none;
  }
}
.open-section .open-section--main-part {
  display: grid;
  grid-template-columns: 55% 45%;
  gap: 0%;
  margin-bottom: 5%;
}
.open-section .open-section--main-part .open-section--text {
  display: flex;
  flex-direction: column;
  margin-top: 18%;
  margin-left: 26%;
}
.open-section .open-section--main-part .open-section--text .open-section--text__get-started {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #D3BA74;
  letter-spacing: 0.24em;
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: 13%;
}
.open-section .open-section--main-part .open-section--text .open-section--text__get-started:before {
  content: "";
  width: 51px;
  height: 2px;
  position: absolute;
  left: -55px;
  top: 10px;
  background: #D3BA74;
}
@media (max-width: 768px) {
  .open-section .open-section--main-part .open-section--text .open-section--text__get-started {
    margin: 0% auto;
    text-align: center;
  }
  .open-section .open-section--main-part .open-section--text .open-section--text__get-started:before {
    width: 0px;
  }
}
.open-section .open-section--main-part .open-section--text .open-section--text__title {
  width: 110%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  color: #FFFFFF;
}
.open-section .open-section--main-part .open-section--text .open-section--text__paragraph {
  width: 91%;
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
}
@media (max-width: 768px) {
  .open-section .open-section--main-part .open-section--text .open-section--text__paragraph {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .open-section .open-section--main-part .open-section--text {
    width: 100%;
    margin: 0% auto;
    text-align: center;
    align-items: center;
  }
}
.open-section .open-section--main-part .open-section--text__img {
  display: flex;
  justify-content: right;
}
.open-section .open-section--main-part .open-section--text__img .section--text__img {
  width: 90%;
  height: auto;
}
@media (max-width: 768px) {
  .open-section .open-section--main-part {
    grid-template-columns: 100%;
  }
  .open-section .open-section--main-part .open-section--text__img {
    display: none;
  }
}
.open-section .open-section--galery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1% auto;
}
@media (max-width: 1200px) {
  .open-section .open-section--galery {
    justify-content: center;
    gap: 10%;
  }
}
.open-section .open-section--galery .open-section--galery__item {
  margin-bottom: 1%;
}
@media (max-width: 768px) {
  .open-section .open-section--galery .open-section--galery__item {
    width: 30%;
    height: 30%;
  }
}

.numbers-section {
  display: flex;
  background-color: #0A1E27;
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8%;
  flex-wrap: wrap;
}
.numbers-section .numbers-section--galery__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.numbers-section .galery__item-number {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 110px;
  color: rgba(255, 255, 255, 0.13);
}
.numbers-section .galery__item-place {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #D3BA74;
  letter-spacing: 0.24em;
}

.more-section {
  background-color: #0A1E27;
  padding: 2%;
  overflow: hidden;
}
.more-section .more-section-borders {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 0%;
}
.more-section .more-section--text {
  margin-left: 2%;
  width: 40%;
  margin-bottom: 1%;
}
.more-section .more-section--text .more-section--title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  color: #FFFFFF;
  margin-bottom: 2%;
}
.more-section .more-section--text .more-section--paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5%;
}
.more-section .more-section--text .more-section--btn {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 10px 16px;
  border: 1px solid #FFFFFF;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  background: none;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
}
.more-section .more-section--text .more-section--btn:hover {
  cursor: pointer;
}
@media (max-width: 1200px) {
  .more-section .more-section--text {
    width: 100%;
    text-align: center;
  }
}
.more-section .more-section--img {
  padding: 2%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .more-section .more-section--img .more-section--img__item {
    width: 70%;
    height: auto;
  }
}

footer {
  background-color: #0A1E27;
  padding: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50%;
  flex-wrap: wrap;
}
footer .footer-title {
  font-family: "Major Mono Display";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  color: #FFFFFF;
}
footer .footer-list {
  display: flex;
  width: 30%;
  justify-content: space-between;
  list-style: none;
}
footer .footer-list .footer-list__item {
  width: 24px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 768px) {
  footer .footer-list {
    width: 100%;
    gap: 10%;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=main-style.css.map */