.big-elements--section {
  padding: 2% 4%;
}
.big-elements--section .big-elements--title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #2C2C2C;
  margin-bottom: 24px;
}
.big-elements--section .buttons-big--section {
  display: flex;
  gap: 130px;
}
.big-elements--section .buttons-big--click {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 700px;
  gap: 19px 24px;
}
.big-elements--section .buttons-big--tabs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  max-width: 700px;
  gap: 24px;
}
.big-elements--section .big--tabs__row-1, .big-elements--section .big--tabs__row-2, .big-elements--section .big--tabs__row-3 {
  display: flex;
  gap: 0;
}

.small-elements--section {
  padding: 2% 4%;
}
.small-elements--section .buttons-small--section {
  display: flex;
  gap: 130px;
}
.small-elements--section .buttons-small--click {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 700px;
  gap: 19px 24px;
}
.small-elements--section .buttons-small--tabs {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: 24px;
}
.small-elements--section .small--tabs__row-1, .small-elements--section .small--tabs__row-2, .small-elements--section .small--tabs__row-3 {
  display: flex;
  gap: 0;
}
.small-elements--section .small--search__btns {
  display: flex;
  max-height: 48px;
  width: 104px;
  gap: 20px;
}
.small-elements--section .small-elements--row-1 {
  display: flex;
  gap: 63px;
  margin-bottom: 50px;
}
.small-elements--section .small--tags__row-1 {
  display: flex;
  gap: 12px;
  margin-bottom: 14px;
}
.small-elements--section .small--tags__row-2 {
  display: flex;
  display: flex;
  gap: 25px;
}

.big--item__first-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 14px 36px;
  border: none;
}
.big--item__first-btn:hover {
  cursor: pointer;
}

.big--item__second-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 14px 36px;
  border: none;
}
.big--item__second-btn:hover {
  cursor: pointer;
}

.big--item__third-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 14px 36px;
  border: 1px solid #E0E0E0;
}
.big--item__third-btn:hover {
  cursor: pointer;
}

.big--item__fourth-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #18A0FB;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 14px 36px;
  border: 1px solid #18A0FB;
}
.big--item__fourth-btn:hover {
  cursor: pointer;
}

.big--item__fifth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
}
.big--item__fifth-btn:hover {
  cursor: pointer;
}

.big--item__sixth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
}
.big--item__sixth-btn:hover {
  cursor: pointer;
}

.big--item__seventh-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #E0E0E0;
}
.big--item__seventh-btn:hover {
  cursor: pointer;
}

.big--item__eight-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #18A0FB;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #18A0FB;
}
.big--item__eight-btn:hover {
  cursor: pointer;
}

.big--item__nineth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
}
.big--item__nineth-btn:hover {
  cursor: pointer;
}

.big--item__tenth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
}
.big--item__tenth-btn:hover {
  cursor: pointer;
}

.big--item__eleventh-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #E0E0E0;
}
.big--item__eleventh-btn:hover {
  cursor: pointer;
}

.big--item__twelfth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #18A0FB;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #18A0FB;
}
.big--item__twelfth-btn:hover {
  cursor: pointer;
}

.big--tabs__row-1--tab-1 {
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  padding: 12px 16px;
  border: none;
}
.big--tabs__row-1--tab-1:hover {
  cursor: pointer;
}
.big--tabs__row-1--tab-1 .big--tabs__row-1--btn-1__svg {
  width: 24px;
  height: 24px;
}

.big--tabs__row-1--tab-2 {
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 12px 16px;
  border: none;
  box-shadow: inset 0px 1px 0px #E0E0E0, inset 0px -1px 0px #E0E0E0;
}
.big--tabs__row-1--tab-2:hover {
  cursor: pointer;
}

.big--tabs__row-1--tab-3 {
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 12px 16px;
  border: 1px solid #E0E0E0;
}
.big--tabs__row-1--tab-3:hover {
  cursor: pointer;
}

.big--tabs__row-2--tab-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  padding: 14px 48px;
  border: none;
}
.big--tabs__row-2--tab-1:hover {
  cursor: pointer;
}

.big--tabs__row-2--tab-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 14px 48px;
  border: 1px solid #E0E0E0;
}
.big--tabs__row-2--tab-2:hover {
  cursor: pointer;
}

.big--tabs__row-3--tab-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  padding: 14px 48px;
  border: none;
}
.big--tabs__row-3--tab-1:hover {
  cursor: pointer;
}

.big--tabs__row-3--tab-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 14px 48px;
  border: none;
  box-shadow: inset 0px 1px 0px #E0E0E0, inset 0px -1px 0px #E0E0E0;
}
.big--tabs__row-3--tab-2:hover {
  cursor: pointer;
}

.big--tabs__row-3--tab-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 14px 48px;
  border: 1px solid #E0E0E0;
}
.big--tabs__row-3--tab-3:hover {
  cursor: pointer;
}

.small--item__first-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 10px 24px;
  border: none;
}
.small--item__first-btn:hover {
  cursor: pointer;
}

.small--item__second-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 10px 24px;
  border: none;
}
.small--item__second-btn:hover {
  cursor: pointer;
}

.small--item__third-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px 24px;
  border: 1px solid #E0E0E0;
}
.small--item__third-btn:hover {
  cursor: pointer;
}

.small--item__fourth-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #18A0FB;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 10px 24px;
  border: 1px solid #18A0FB;
}
.small--item__fourth-btn:hover {
  cursor: pointer;
}

.small--item__fifth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
}
.small--item__fifth-btn:hover {
  cursor: pointer;
}
.small--item__fifth-btn .small--btn-5__img {
  width: 20px;
  height: 20px;
}

.small--item__sixth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
}
.small--item__sixth-btn:hover {
  cursor: pointer;
}
.small--item__sixth-btn .small--btn-6__img {
  width: 20px;
  height: 20px;
}

.small--item__seventh-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 8px 12px;
  border: 1px solid #E0E0E0;
}
.small--item__seventh-btn:hover {
  cursor: pointer;
}
.small--item__seventh-btn .small--btn-7__img {
  width: 20px;
  height: 20px;
}

.small--item__eight-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #18A0FB;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 8px 12px;
  border: 1px solid #18A0FB;
}
.small--item__eight-btn:hover {
  cursor: pointer;
}
.small--item__eight-btn .small--btn-8__img {
  width: 20px;
  height: 20px;
}

.small--item__nineth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #FF3E1D;
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
}
.small--item__nineth-btn:hover {
  cursor: pointer;
}
.small--item__nineth-btn .small--btn-9__img {
  width: 20px;
  height: 20px;
}

.small--item__tenth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 8px 12px;
  border: none;
}
.small--item__tenth-btn:hover {
  cursor: pointer;
}
.small--item__tenth-btn .small--btn-10__img {
  width: 20px;
  height: 20px;
}

.small--item__eleventh-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 8px 12px;
  border: 1px solid #E0E0E0;
}
.small--item__eleventh-btn:hover {
  cursor: pointer;
}
.small--item__eleventh-btn .small--btn-11__img {
  width: 20px;
  height: 20px;
}

.small--item__twelfth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #18A0FB;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 8px 12px;
  border: 1px solid #18A0FB;
}
.small--item__twelfth-btn:hover {
  cursor: pointer;
}
.small--item__twelfth-btn .small--btn-12__img {
  width: 20px;
  height: 20px;
}

.small--tabs__row-1--tab-1 {
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  padding: 9px 24px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.small--tabs__row-1--tab-1:hover {
  cursor: pointer;
}
.small--tabs__row-1--tab-1 .small--btn-11__img {
  width: 20px;
  height: 20px;
}

.small--tabs__row-1--tab-2 {
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 9px 24px;
  border: 1px solid #E0E0E0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
}
.small--tabs__row-1--tab-2:hover {
  cursor: pointer;
}

.small--tabs__row-2--tab-1 {
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  padding: 6px 12px;
  border: none;
}
.small--tabs__row-2--tab-1:hover {
  cursor: pointer;
}
.small--tabs__row-2--tab-1 .small--tabs__row-2--tab-1 {
  width: 24px;
  height: 24px;
  stroke: #FFFFFF;
}

.small--tabs__row-2--tab-2 {
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 6px 12px;
  border: none;
  box-shadow: inset 0px 1px 0px #E0E0E0, inset 0px -1px 0px #E0E0E0;
}
.small--tabs__row-2--tab-2:hover {
  cursor: pointer;
}
.small--tabs__row-2--tab-2 .small--tabs__img-2 {
  width: 24px;
  height: 24px;
  stroke: #2C2C2C;
  fill: #2C2C2C;
}

.small--tabs__row-2--tab-3 {
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 6px 12px;
  border: 1px solid #E0E0E0;
}
.small--tabs__row-2--tab-3:hover {
  cursor: pointer;
}
.small--tabs__row-2--tab-3 .small--tabs__img-3 {
  width: 24px;
  height: 24px;
  stroke: #2C2C2C;
  fill: #2C2C2C;
}

.small--tabs__row-3--tab-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  padding: 9px 24px;
  border: none;
}
.small--tabs__row-3--tab-1:hover {
  cursor: pointer;
}

.small--tabs__row-3--tab-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 9px 24px;
  border: none;
  box-shadow: inset 0px 1px 0px #E0E0E0, inset 0px -1px 0px #E0E0E0;
}
.small--tabs__row-3--tab-2:hover {
  cursor: pointer;
}

.small--tabs__row-3--tab-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 9px 24px;
  border: 1px solid #E0E0E0;
}
.small--tabs__row-3--tab-3:hover {
  cursor: pointer;
}

.small--search__btn-1 {
  background-color: #FF3E1D;
  border-radius: 0px;
  padding: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 100px;
}
.small--search__btn-1:hover {
  cursor: pointer;
}
.small--search__btn-1 .small--search__btn--img-1 {
  width: 20px;
  height: 20px;
}

.small--search__btn-2 {
  background-color: #00D200;
  border-radius: 0px;
  padding: 8px;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small--search__btn-2:hover {
  cursor: pointer;
}
.small--search__btn-2 .small--search__btn--img-2 {
  width: 24px;
  height: 24px;
}

.small--tags__row-1--tag-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 6px 10px;
  border: 1px solid #E0E0E0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
}
.small--tags__row-1--tag-1:hover {
  cursor: pointer;
}
.small--tags__row-1--tag-1 .small--tags__row-1--img-1 {
  width: 8px;
  height: 8px;
  fill: #2C2C2C;
}

.small--tags__row-1--tag-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 6px 10px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
.small--tags__row-1--tag-2:hover {
  cursor: pointer;
}
.small--tags__row-1--tag-2 .small--tags__row-1--img-2 {
  width: 8px;
  height: 8px;
  fill: #FFFFFF;
}

.small--tags__row-2--tag-1 {
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 6px 14px;
  border: 1px solid #E0E0E0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2C2C2C;
}
.small--tags__row-2--tag-1:hover {
  cursor: pointer;
}

.small--tags__row-2--tag-2 {
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 6px 14px;
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}
.small--tags__row-2--tag-2:hover {
  cursor: pointer;
}/*# sourceMappingURL=main-style.css.map */