.big-elements--title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #2C2C2C;
  margin-bottom: 24px;
}

.buttons-big--section {
  display: flex;
  gap: 130px;
}

.buttons-big--click {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 700px;
  gap: 19px 24px;
} 
.big--tabs__row-1 {
  display: flex;
  gap: 0;
  margin-bottom: 24px;
}

.big--tabs__row-2 {
  display: flex;
  gap: 0;
  margin-bottom: 24px;
}

.big--tabs__row-3 {
  display: flex;
  gap: 0;
  margin-bottom: 24px;
}

.big--item__first-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 14px 36px;
  border: none;
}
.big--item__first-btn:hover {
  cursor: pointer;
}

.big--item__second-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 14px 36px;
  border: none;
}
.big--item__second-btn:hover {
  cursor: pointer;
}

.big--item__third-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 14px 36px;
  border: 1px solid #E0E0E0;
}
.big--item__third-btn:hover {
  cursor: pointer;
}

.big--item__fourth-btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #18A0FB;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 14px 36px;
  border: 1px solid #18A0FB;
}
.big--item__fourth-btn:hover {
  cursor: pointer;
}

.big--item__fifth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
}
.big--item__fifth-btn:hover {
  cursor: pointer;
}

.big--item__sixth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
}
.big--item__sixth-btn:hover {
  cursor: pointer;
}

.big--item__seventh-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #E0E0E0;
}
.big--item__seventh-btn:hover {
  cursor: pointer;
}

.big--item__eight-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #18A0FB;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #18A0FB;
}
.big--item__eight-btn:hover {
  cursor: pointer;
}

.big--item__nineth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
}
.big--item__nineth-btn:hover {
  cursor: pointer;
}

.big--item__tenth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #878787;
  background-color: rgba(224, 224, 224, 0.3);
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
}
.big--item__tenth-btn:hover {
  cursor: pointer;
}

.big--item__eleventh-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #E0E0E0;
}
.big--item__eleventh-btn:hover {
  cursor: pointer;
}

.big--item__twelfth-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #18A0FB;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #18A0FB;
}
.big--item__twelfth-btn:hover {
  cursor: pointer;
}

.big--tabs__row-1--tab-1 {
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  padding: 12px 16px;
  border: none;
}
.big--tabs__row-1--tab-1:hover {
  cursor: pointer;
}
.big--tabs__row-1--tab-1 .big--tabs__row-1--btn-1__svg {
  width: 24px;
  height: 24px;
}

.big--tabs__row-1--tab-2 {
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 12px 16px;
  border: none;
  box-shadow: inset 0px 1px 0px #E0E0E0, inset 0px -1px 0px #E0E0E0;
}
.big--tabs__row-1--tab-2:hover {
  cursor: pointer;
}

.big--tabs__row-1--tab-3 {
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 12px 16px;
  border: 1px solid #E0E0E0;
}
.big--tabs__row-1--tab-3:hover {
  cursor: pointer;
}

.big--tabs__row-2--tab-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  padding: 14px 48px;
  border: none;
}
.big--tabs__row-2--tab-1:hover {
  cursor: pointer;
}

.big--tabs__row-2--tab-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 14px 48px;
  border: 1px solid #E0E0E0;
}
.big--tabs__row-2--tab-2:hover {
  cursor: pointer;
}

.big--tabs__row-3--tab-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #18A0FB;
  border-radius: 5px 0px 0px 5px;
  padding: 14px 48px;
  border: none;
}
.big--tabs__row-3--tab-1:hover {
  cursor: pointer;
}

.big--tabs__row-3--tab-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 0px;
  padding: 14px 48px;
  border: none;
  box-shadow: inset 0px 1px 0px #E0E0E0, inset 0px -1px 0px #E0E0E0;
}
.big--tabs__row-3--tab-2:hover {
  cursor: pointer;
}

.big--tabs__row-3--tab-3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #2C2C2C;
  background-color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
  padding: 14px 48px;
  border: 1px solid #E0E0E0;
}
.big--tabs__row-3--tab-3:hover {
  cursor: pointer;
}/*# sourceMappingURL=main-style.css.map */