@import "_functions.scss";

.big-elements--section{
  padding: 2% 4%;

  .big-elements--title{
    @include def_text('Inter', normal, 600, 25px, 30px, #2C2C2C);
    margin-bottom: 24px;
  }
  .buttons-big--section{
    display: flex;
    gap: 130px;
  }
  .buttons-big--click {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 700px;
    gap: 19px 24px;
  }
   
  .buttons-big--tabs{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 700px;
    gap: 24px;
  }
  .big--tabs__row-1, .big--tabs__row-2, .big--tabs__row-3{
    display: flex;
    gap: 0;
  }
}
 

.small-elements--section{
  padding: 2% 4%;
  
  .buttons-small--section{
    display: flex;
    gap: 130px;
  }

  .buttons-small--click {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 700px;
    gap: 19px 24px;
  }

  .buttons-small--tabs{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 24px;
  }
  .small--tabs__row-1, .small--tabs__row-2, .small--tabs__row-3{
    display: flex;
    gap: 0;
  }
 
  .small--search__btns{
    display: flex;
    max-height: 48px;
    width: 104px;
    gap: 20px;
  }

  .small-elements--row-1{
    display: flex;
    gap: 63px;
    margin-bottom: 50px;
  }
  .small--tags__row-1{
    display: flex;
    gap: 12px;
    margin-bottom: 14px;
  }
  .small--tags__row-2{
    display: flex;
    display: flex;
    gap: 25px;
  }
}
 
@import "./big-btns/big-btn-1";
@import "./big-btns/_big-btn-2.scss";
@import "./big-btns/_big-btn-3.scss";
@import "./big-btns/_big-btn-4.scss";
@import "./big-btns/_big-btn-5.scss";
@import "./big-btns/_big-btn-6.scss";
@import "./big-btns/_big-btn-7.scss";
@import "./big-btns/_big-btn-8.scss";
@import "./big-btns/_big-btn-9.scss";
@import "./big-btns/_big-btn-10.scss";
@import "./big-btns/_big-btn-11.scss";
@import "./big-btns/_big-btn-12.scss";
@import "./big-tabs/_big-tab-1";
@import "./big-tabs/_big-tab-2";
@import "./big-tabs/_big-tab-3";
@import "./big-tabs/_big-tab-4";
@import "./big-tabs/_big-tab-5";
@import "./big-tabs/_big-tab-6";
@import "./big-tabs/_big-tab-7";
@import "./big-tabs/_big-tab-8";


@import "./small-btns/_small-btn-1";
@import "./small-btns/_small-btn-2.scss";
@import "./small-btns/_small-btn-3.scss";
@import "./small-btns/_small-btn-4.scss";
@import "./small-btns/_small-btn-5.scss";
@import "./small-btns/_small-btn-6.scss";
@import "./small-btns/_small-btn-7.scss";
@import "./small-btns/_small-btn-8.scss";
@import "./small-btns/_small-btn-9.scss";
@import "./small-btns/_small-btn-10.scss";
@import "./small-btns/_small-btn-11.scss";
@import "./small-btns/_small-btn-12.scss";
@import "./small-tabs/_small-tab-1.scss";
@import "./small-tabs/_small-tab-2.scss";
@import "./small-tabs/_small-tab-3.scss";
@import "./small-tabs/_small-tab-4.scss";
@import "./small-tabs/_small-tab-5.scss";
@import "./small-tabs/_small-tab-6.scss";
@import "./small-tabs/_small-tab-7.scss";
@import "./small-tabs/_small-tab-8.scss";
 
@import "./small-search/_small-search-1.scss";
@import "./small-search/_small-search-2.scss";

@import "./small-tags/small-tag-1";
@import "./small-tags/small-tag-2";
@import "./small-tags/small-tag-3";
@import "./small-tags/small-tag-4";