body{
    margin: 0px;
    height: auto;
    width: 100%;
    min-width: 1440px;
    min-height: 3000px;
}
main{
    padding: 10px 0px 0px 10px;
    background-color: #202124;
    width: 100%;
    min-height: 3000px;
}
table {
    border-spacing: 0;
    border-collapse: separate;
    width: 900px;
    margin: 30px;
    background-color: #222325;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 5px;
}
th, td {
    border-bottom: 1px solid rgba(255,255,255,.5);
    height: 40px;
    text-align: left;
    padding-left: 15px;
    font-family: "Segoe UI",Arial,sans-serif;
}
.name-file, th{
    box-sizing: border-box;
    width: 372px;
    color: rgba(255,255,255);
}
.data-file{
    color: rgba(255,255,255,.5);
}
 
.ellipsis-td{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-left: 0px;
}
/*---------------------------------------------------------*/
.name-class{
    display: flex; 
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 372px;
}
.arrow-down {
    display: block;
    border-left: 5px solid  transparent; /*transparent - встановлює прозорість*/
    border-right: 5px solid  transparent;
    border-top: 5px solid rgba(255,255,255);
    margin: 10px 0px 6px 10px ;
}
.name-text{
    display: block;
    margin: auto 0px;
}

.ellipsis{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 22px;
}
.point{
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
    width: 5px;
    height: 5px;
}
 
.point-second{
    background-color: rgba(255,255,255);
    border-radius: 5px;
    width: 5px;
    height: 5px;
}

img{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    margin: 3px 3px 3px 4px;
}

/*---------------------------------------------------------*/
.search-syst{
    display: flex; 
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
}

.search-img{
    width: 17px;
    height: 17px;
    margin: 2px 0px 0px 2px;
    padding: 0px 0px 0px 5px;
}

::placeholder {
    color: rgb(0, 0, 0);
}

input[type=search] {

    background-color: rgb(199, 199, 199);
    border: none;
    border-radius: 4px;
    opacity: 0.5;
    width: 185px;
    height: 30px;
 
    font-size: 16px;
    color:rgb(0, 0, 0); ;

    outline: none;
    box-sizing: border-box;
 
    background-image: url('../images/images.png');
    background-position: 5px 7px; 
    background-repeat: no-repeat;
    background-size: 15px;

    margin: 0px;
    padding: 12px 5px 12px 30px;
}
  

 