.big--item__seventh-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include def_text('Inter', normal, 500, 15px, 18px, #2C2C2C);
    @include def_btn(12px 20px, #FFFFFF, 5px, 1px solid #E0E0E0);
}