.big--item__nineth-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include def_text('Inter', normal, 500, 15px, 18px, #FFFFFF);
    @include def_btn(12px 20px, #18A0FB, 5px, none);
}