html{
    scroll-behavior: smooth;
    background: #E5E5E5;
}

*{
    box-sizing: border-box;
}
 
.container{
    max-width: 1600px;
    margin: 0 auto;
    height: 400vh;
    width: 1600px;
    height: 4500px;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    padding: 50px 0px 91px 0px;
}

 